ir<div>
artista: @ViewBag.artista
productor: @ViewBag.productor
genero musical: @ViewBag.generoMusical
ID: @ViewBag.ID
<img src = /@ViewBag.foto alt = @ViewBag.nombre>
<ul>
<p>TEMAS:</p>
@foreach(string tema in @ViewBag.temas)
{
    <li><a>@tema</a></li>
}
</ul>
</div>
<a href='@Url.Action("Index","Home")' alt = "Volver a la pag principal"> Volver a la pag principal</a>